[user]
    name = VPavliashvili
    email = v_pavliashvili@yahoo.com
	signingkey = FE259FBDCEEB4D27!

[alias]
    #log graph with short date
    graph = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --all --graph --date=relative
    #log graph with long date
    lgraph = log --pretty='%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s' --all --decorate --graph
[init]
	defaultBranch = master
[credential]
	credentialStore = gpg
[commit]
	gpgsign = true
