wezterm/.config/wezterm/data.json
wezterm/.config/wezterm/config.json
.luarc.json
bin/bin/connectLb.sh
bin/bin/connectAlta.sh
bin/bin/connectwork.sh
bin/bin/disconnectwork.sh
bin/bin/waybar_ipc
__pycache__/
*.py[cod]

*.log

zellij/.config/zellij/plugins/
