wezterm/.config/wezterm/data.json
wezterm/.config/wezterm/config.json
.luarc.json
nvim/.config/nvim/plugin/
nvim/.config/nvim/lazy-lock.json
bin/bin/connectLb.sh
bin/bin/connectAlta.sh
bin/bin/connectwork.sh
bin/bin/disconnectwork.sh
bin/bin/waybar_ipc
__pycache__/
*.py[cod]
